In [74]:
import pandas as pd
file='vgsales 2.csv'
df=pd.read_csv(file)
print(df.head())
print(df.dtypes)

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [80]:
df2=df.groupby(['Platform','Genre']).agg({'Global_Sales':['mean']})
df2.columns=['Global_Sales_Mean']
df3=df2.reset_index()
print(df3)

    Platform         Genre  Global_Sales_Mean
0       2600        Action           0.480984
1       2600     Adventure           0.850000
2       2600      Fighting           0.620000
3       2600          Misc           0.716000
4       2600      Platform           1.474444
..       ...           ...                ...
288     XOne  Role-Playing           0.729231
289     XOne       Shooter           1.563939
290     XOne    Simulation           0.180000
291     XOne        Sports           0.665833
292     XOne      Strategy           0.126667

[293 rows x 3 columns]

In [45]:
print(df3.Platform.unique())

['2600' '3DO' '3DS' 'DC' 'DS' 'GB' 'GBA' 'GC' 'GEN' 'GG' 'N64' 'NES' 'NG'
 'PC' 'PCFX' 'PS' 'PS2' 'PS3' 'PS4' 'PSP' 'PSV' 'SAT' 'SCD' 'SNES' 'TG16'
 'WS' 'Wii' 'WiiU' 'X360' 'XB' 'XOne']

In [46]:
print(df3.Genre.unique())

['Action' 'Adventure' 'Fighting' 'Misc' 'Platform' 'Puzzle' 'Racing'
 'Shooter' 'Simulation' 'Sports' 'Role-Playing' 'Strategy']

In [85]:
df4=df3.groupby(['Genre','Platform']).max()
df4=df4.reset_index()
print(df4)

        Genre Platform  Global_Sales_Mean
0      Action     2600           0.480984
1      Action      3DS           0.313297
2      Action       DC           0.420000
3      Action       DS           0.336910
4      Action       GB           1.320000
..        ...      ...                ...
288  Strategy      Wii           0.209200
289  Strategy     WiiU           0.413333
290  Strategy     X360           0.361786
291  Strategy       XB           0.132381
292  Strategy     XOne           0.126667

[293 rows x 3 columns]

In [97]:
idx = df4.groupby(['Genre'])['Global_Sales_Mean'].transform(max) == df4['Global_Sales_Mean']
print(df4[idx])

            Genre Platform  Global_Sales_Mean
9          Action      NES           2.211538
34      Adventure      NES           4.380000
58       Fighting      NES           1.635000
82           Misc      NES           1.795000
108      Platform      NES           3.420714
128        Puzzle       GB           3.164667
167        Racing     WiiU           2.590000
174  Role-Playing       GB           4.201905
206       Shooter      NES           5.088571
230    Simulation      N64           1.019000
254        Sports      NES           1.917857
272      Strategy       GB           1.150000

In [111]:
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [102]:
df0=df[(df['Year'] >= 2004) & (df['Year'] <= 2018)]
print(df0)

        Rank                                               Name Platform  \
0          1                                         Wii Sports      Wii
2          3                                     Mario Kart Wii      Wii
3          4                                  Wii Sports Resort      Wii
6          7                              New Super Mario Bros.       DS
7          8                                           Wii Play      Wii
...      ...                                                ...      ...
16590  16593  Eiyuu Densetsu: Sora no Kiseki Material Collec...      PSP
16591  16594                                Myst IV: Revelation       PC
16592  16595                                           Plushees       DS
16595  16598   SCORE International Baja 1000: The Official Game      PS2
16596  16599                                         Know How 2       DS

         Year         Genre           Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports            Nintendo     41.49     29.02      3.77
2      2008.0        Racing            Nintendo     15.85     12.88      3.79
3      2009.0        Sports            Nintendo     15.75     11.01      3.28
6      2006.0      Platform            Nintendo     11.38      9.23      6.50
7      2006.0          Misc            Nintendo     14.03      9.20      2.93
...       ...           ...                 ...       ...       ...       ...
16590  2007.0  Role-Playing  Falcom Corporation      0.00      0.00      0.01
16591  2004.0     Adventure             Ubisoft      0.01      0.00      0.00
16592  2008.0    Simulation           Destineer      0.01      0.00      0.00
16595  2008.0        Racing          Activision      0.00      0.00      0.00
16596  2010.0        Puzzle            7G//AMES      0.00      0.01      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
2             3.31         35.82
3             2.96         33.00
6             2.90         30.01
7             2.85         29.02
...            ...           ...
16590         0.00          0.01
16591         0.00          0.01
16592         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01

[11917 rows x 11 columns]

In [115]:
df0.isna().sum()

Rank             0
Name             0
Platform         0
Year             0
Genre            0
Publisher       36
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [107]:
df01=df0.groupby(['Platform','Genre']).agg({'Global_Sales':['mean']})
df01.columns=['Global_Sales_Mean']
df02=df01.reset_index()
print(df02)

    Platform         Genre  Global_Sales_Mean
0        3DS        Action           0.314500
1        3DS     Adventure           0.131389
2        3DS      Fighting           0.747143
3        3DS          Misc           0.197736
4        3DS      Platform           1.151071
..       ...           ...                ...
176     XOne  Role-Playing           0.729231
177     XOne       Shooter           1.563939
178     XOne    Simulation           0.180000
179     XOne        Sports           0.665833
180     XOne      Strategy           0.126667

[181 rows x 3 columns]

In [108]:
df04=df02.groupby(['Genre','Platform']).max()
df04=df04.reset_index()
print(df04)

        Genre Platform  Global_Sales_Mean
0      Action      3DS           0.314500
1      Action       DS           0.340806
2      Action      GBA           0.315890
3      Action       GC           0.322885
4      Action       PC           0.175946
..        ...      ...                ...
176  Strategy      Wii           0.209200
177  Strategy     WiiU           0.413333
178  Strategy     X360           0.361852
179  Strategy       XB           0.165833
180  Strategy     XOne           0.126667

[181 rows x 3 columns]

In [109]:
idx0 = df04.groupby(['Genre'])['Global_Sales_Mean'].transform(max) == df04['Global_Sales_Mean']
print(df04[idx0])

            Genre Platform  Global_Sales_Mean
6          Action      PS3           0.815067
28      Adventure     X360           0.324043
42       Fighting     WiiU           1.272000
56           Misc      Wii           0.799375
71       Platform      Wii           1.590877
77         Puzzle       DS           0.355381
101        Racing     WiiU           2.590000
107  Role-Playing      GBA           0.962857
128       Shooter      PS4           2.215294
136    Simulation      3DS           0.949643
158        Sports      PS4           1.164419
177      Strategy     WiiU           0.413333